<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <h3>Get configuration from JSON file</h3>
<div>
  <button (click)="clear(); showConfig_v1()">get</button>
  <button (click)="clear(); showConfigResponse()">getResponse</button>
  <button (click)="clear()">clear</button>
  <button (click)="clear(); makeError()">error</button>
  <span *ngIf="config">
    <p>Textfile URL is {{config | json}} : "{{config.type}}"</p>
    <div *ngIf="headers">
      Response headers:
      <ul>
        <li *ngFor="let header of headers">{{header}}</li>
      </ul>
    </div>
  </span>
</div>
<p *ngIf="error" class="error">{{error | json}}</p>
</ion-content>
